apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml

commonLabels:
  app.kubernetes.io/name: whatsapp-connector
  app.kubernetes.io/component: connector
  app.kubernetes.io/part-of: chat4all

namePrefix: ""
namespace: default
