apiVersion: v1
kind: Service
metadata:
  name: file-service
  labels:
    app: file-service
    component: storage
spec:
  type: ClusterIP
  selector:
    app: file-service
  ports:
  - name: http
    port: 8084
    targetPort: 8084
    protocol: TCP
