apiVersion: v1
kind: Service
metadata:
  name: user-service
  labels:
    app: user-service
    component: core
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
  - name: http
    port: 8083
    targetPort: 8083
    protocol: TCP
