apiVersion: v1
kind: Service
metadata:
  name: message-service
  labels:
    app: message-service
    component: core
spec:
  type: ClusterIP
  selector:
    app: message-service
  ports:
  - name: http
    port: 8081
    targetPort: 8081
    protocol: TCP
